body{
    font-family: "Alegreya Sans", sans-serif !important;
    /* background: linear-gradient(90deg, #89e170, #fc3a3a) !important; */

}


.cta {
    background-color: #FFC107 !important;
   
    /* padding-left: 20px !important;
    padding-right: 20px !important;
    text-decoration: none !important; */
    border : 1px solid black !important;
    color:black !important;
    /* margin-left : 10px !important; */
}

.cta:hover {
    background-color: #E97451 !important;
    color: rgb(255, 255, 255) !important;
}




.navbar-nav {
    gap:3em !important;
}

.navbar-nav a {
    align-self: center !important;
}

#logo {
    width:2em;
    max-width: 100%;
    margin-right : .5em;
}



div.landing-page {
    margin-top : 10em !important;
    height : 70vh !important;
}


div.container {
    background-color: #83838354;
    border-radius: 5%;
}


#below-link{
    /* background-color: #0000001b !important; */
    color:#FFC107 !important;
    text-decoration: none !important;
    /* border : 1px solid black !important; */
}

#below-link:hover {
    /* background-color: #E97451 !important; */
    color: rgb(0, 0, 0) !important;
    text-decoration: underline !important;
}
