body{
    font-family: "Alegreya Sans", sans-serif !important;
    /* background: linear-gradient(90deg, #89e170, #fc3a3a) !important; */

}


.cta {
    background-color: #FFC107 !important;
   
    /* padding-left: 20px !important;
    padding-right: 20px !important;
    text-decoration: none !important; */
    border : 1px solid black !important;
    color:black !important;
    /* margin-left : 10px !important; */
}

.cta:hover {
    background-color: #E97451 !important;
    color: rgb(255, 255, 255) !important;
}


.cta.active {
    background-color: #E97451 !important;
}




.navbar-nav {
    gap:3em !important;
}

.navbar-nav a {
    align-self: center !important;
}

#logo {
    width:2em;
    max-width: 100%;
    margin-right : .5em;
}



div.landing-page {
    margin-top : 10em !important;
    height : 70vh !important;
}


div.container {
    background-color: #83838354;
    border-radius: 5%;
}

div.my-5.container.about {
    background-color: #e3cfcf00 !important;
    font-size: 1.3em !important;
}
div.card {
    background-color: #5e7fa4 !important;
    box-shadow: 0 0 10px rgba(0.1, 0.1, .1, 0.5); /* Optional: add a subtle shadow */

}

div.container {
    background-color: #83838354;
}

/* #root > div > div > ul > li > a {
    /* color: #FFC107 !important; */
    /* background-color: black !important; */


#below-link{
    /* background-color: #0000001b !important; */
    color:#FFC107 !important;
    text-decoration: none !important;
    /* border : 1px solid black !important; */
}

#below-link:hover {
    /* background-color: #E97451 !important; */
    color: rgb(0, 0, 0) !important;
    text-decoration: underline !important;
}


div.p-4.rounded.memory {
    background-color: #5e7fa4 !important;
    /* font-size: 1.3em !important;
    padding : 3em !important;
    width : 50% !important; */
    max-width: 65%; /* Adjust as needed */
    width: 100%;
    margin: 0 auto; /* Center the container */
    overflow: hidden; /* Hide any overflow */
    box-shadow: 0 0 10px rgba(0.1, 0.1, .1, 0.5); /* Optional: add a subtle shadow */
}

/* Styles for the audio player */
audio {
    width: 100%; /* Make the audio player responsive */
    max-width: 600px; /* Set a maximum width for larger screens */
    display: block; /* Ensure it behaves as a block element */
    margin: 0 auto; /* Center the audio player */
  }