body {
  margin: 1;
  background: linear-gradient(to top, #b8421a,#c76f16, #0077ff) !important;
  background-size: cover !important; /* Ensures the gradient covers the entire element */
  background-attachment: fixed !important; /* Optional: Fixes the background in place */
  font-family: "Alegreya Sans", sans-serif !important;
  color: #ffffff;
 

}

